.card-item {
  width: 25%;
  background-color: #F5F5F5 !important; 
  font-family: 'News Cycle', serif, Segoe UI, Frutiger, Frutiger Linotype;
  float: left;
  margin: 0 auto;
  padding: 75px 0px;
}

.card-item > div {
  text-align: left;
}

.card-item img {
  width: 64px;
}

@media (max-width: 640px) {
  .card-item {
    width: 45%;
    padding: 20px 10px;
  }

  .card-item > div {
    text-align: center;
  }
}
