
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|News+Cycle');

body {
  background-color: #F5F5F5 !important;
}

.header-img {
  width: 100%;
  opacity: 0.75;
  margin-top: -86px;
  border-bottom: 3px solid gray;
  margin-bottom: 50px;
}

about {
  text-align: center;
  font-family: 'News Cycle', serif, Segoe UI, Frutiger, Frutiger Linotype !important;
}

about h2 {
  padding-top: 50px;
}

about p {
  font-size: 20px;
}

.line-bar {
  background: #505050;
  width:10%;
  height: 5px;
  margin-left: 45%;
  margin-top: 25px;
  margin-bottom: 25px;
}
