footer {
  width: 100%;
  /* original dark grey rgb(34, 38, 41) */
  background-color: rgba(0, 0, 0, 1);
  font-family: 'News Cycle', serif, Segoe UI, Frutiger, Frutiger Linotype;
  font-weight: 500;
}

.container3 {
  color: #FFF;
  max-width: 80% !important;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px 0px;
  bottom: 0;
  overflow: hidden;
}

.footer-name {
  float: left;
  width: 25%;
  font-size: 20px;
  font-family: 'News Cycle', serif, Segoe UI, Frutiger, Frutiger Linotype;
}

footer nav {
  float: left;
  width: 50%;
  text-align: center;
}

footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer nav li {
  display: inline-block;
  padding: 0px 40px;
  position: relative;
}

.footer-links {
  color: #FFF;
  text-decoration: none !important;
  font-size: 24px;
}

.footer-links:hover {
  color: #D0D0D0;
}

.footer-icons {
  float: left;
  width: 25%;
  text-align: right;
}