header {
  width: 100%;
  /* original dark grey rgb(34, 38, 41) */
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Coming Soon', serif, Segoe UI, Frutiger, Frutiger Linotype;
  font-weight: 500;
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.name {
  color: #FFF;
  float: left;
  padding-top: 5px;
  padding-bottom: 20px;
  text-decoration: none !important;
}

.name:hover {
  color: #D0D0D0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 80% !important;
  margin: 0 auto;
}

header navi {
  float: right;
}

header navi ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header navi li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;
  position: relative;
}

.header-links {
  color: #FFF;
  text-decoration: none !important;
  font-size: 24px;
}

.header-links:hover {
  color: #FFF;
}

.header-links::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 250ms;
}

.header-links:hover::after {
  width: 100%;
}
